[Unit]
Description=FastAPI Heart Risk Service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/taller3-mlops
Environment="PATH=/home/ubuntu/taller3-mlops/venv/bin"
ExecStart=/home/ubuntu/taller3-mlops/venv/bin/uvicorn api.main:app --host 0.0.0.0 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target